/* Reset + base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #978dad;
  color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #2c70b4 !important;
  color: white;
  padding: 40px;
  text-align: center;
}


.btn {
  display: block;
  background: #3498db;
  color: white;
  padding: 10px;
  margin: 0 15px 20px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #2980b9;
}

footer {
  background: #ffffff;
  color: white;
  text-align: center;
  padding: 15px;
}